* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", monospace;
    width: 100vw;
    height: 100vh;
    background-color: hsl(185, 41%, 84%);
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container h1 {
    color: hsl(183, 100%, 15%);
}

.container .box {
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    box-sizing: border-box;
}

.box .left, .right {
    width: 48%;
    height: 100%;
    box-sizing: border-box;
}

.left {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
}

.left .item {
    position: relative;
    width: 100%;
}

.item-3 span {
    color: red;
    position: absolute;
    right: 0;
}

.left .item img {
    position: absolute;
    top: 6.5vh;
    left: 0.6vw;
}

.left input {
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
    font-size: 24px;
    width: 100%;
    margin: 5px 0;
    text-align: end;
    padding: 0.3vw 0.5vw;
    box-sizing: border-box;
    border: 2px solid hsl(189, 41%, 97%);
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}


.left .item-2 .box2 {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.box2 .rect {
    color: white;
    background-color: hsl(183, 100%, 15%);
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    padding: 0.3vw 0.1vw;
    width: 100%;
    border-radius: 5px;
}

.box2 .rect:nth-child(6) {
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
}

.right {
    border-radius: 10px;
    color: white;
    background-color: hsl(183, 100%, 15%);
    padding: 3vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.right h1 {
    color: hsl(172, 67%, 45%);
}

.right .item {
    display: flex;
    justify-content: space-between;
}

.right .item .summary p:nth-child(2) {
    font-size: 14px;
    color: hsl(172, 67%, 45%);
}

.right .item .amount {
    text-align: end;
    width: 50%;
}

.right .btn {
    flex-direction: column;
    justify-content: space-between;
    grid-row: 3/5;
    align-self: self-end;
    height: 12vh;
}

.btn button {
    font-weight: 700;
    background-color: hsl(172, 67%, 45%);
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40%;
}


/* Hover Effect Code */
input:hover {
    cursor: pointer;
    border: 2px solid hsl(185, 41%, 84%);
    box-sizing: border-box;
}

.rect:hover {
    cursor: pointer;
    color: hsl(183, 100%, 15%);
    background-color: hsl(185, 41%, 84%);
}

.btn button:hover {
    cursor: pointer;
    color: hsl(183, 100%, 15%);
    background-color: hsl(185, 41%, 84%);
}


/* JS classes */
.rect-js {
    cursor: pointer;
    color: hsl(183, 100%, 15%);
    background-color: hsl(185, 41%, 84%);
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    padding: 0.3vw 0.1vw;
    width: 100%;
    border-radius: 5px;
}